<div style="text-align: center;">
  <button style="cursor: pointer" (click)="agregar()">+</button> <!--pointer hace que se vea el cursor cuando nos posicionamos en el botón-->
</div>
<div class="box">
    <!--iteramos cada uno de los objetos de tipo Persona--><!--Usaremos property biding-->
    <app-persona *ngFor="let personaElemento of personas; let i = index"   
    [persona] = "personaElemento" 
    [indice] = "i">
    </app-persona><!--[persona] Pasando elementos a componente hijo persona.component.html-->
  </div>
<router-outlet></router-outlet> <!--se quitó lo que había antes, para que con esto se muestre las opciones de editar y de agregar persona-->
  
  
  <!--Se movió Componente hijo-->
  
