<!--Componente padre-->
<div class="container">
  <div class="col">
    <h3>{{titulo}}</h3>
  </div>
  <hr/> <!--Línea horizontal-->
  <!--El método que se monitorea es el método personaCreada.emit(persona1), esto es dos líneas abajo-->
  <app-formulario
  (personaCreada)="personaAgregada($event)"
  >

  </app-formulario><!-- Pasando elementos a componente hijo formulario.component.html-->
  <hr/> 
  <!--iteramos cada uno de los objetos de tipo Persona--><!--Usaremos property biding-->
  <app-persona *ngFor="let personaElemento of personas; let i = index"   
  [persona] = "personaElemento" 
  [indice] = "i">
  </app-persona><!--[persona] Pasando elementos a componente hijo persona.component.html-->
</div>


<!--Se movió Componente hijo-->
